@page
@model IndexModel
@{
    ViewData["Title"] = "Iniciar sesión";
}
<br>
<header class="header">
    <h2 class="left">InveDB</h2>
</header>
<hr>
<div class="text-center">
    <br>
    <h1 class="display-4">INICIAR SESIÓN</h1><br>
    <label for="usuario">Usuario:</label><br>
    <input type="text" id="usuario" name="usuario" required><br>
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password" required><br>
    <br>
    <!--
    <form method="get" asp-page="/Admin/AdminInicio">
        <button class="button button1" type="submit">Acceder</button>
    </form>
    -->
    <!--
    <form method="get" asp-page="/Capturista/capturistaInicio">
        <button class="button button1" type="submit">Acceder</button>
    </form>
     -->

    <form method="get" asp-page="/EncargadoAlmacen/encargadoAlInicio">
        <button class="button button1" type="submit">Acceder</button>
    </form>

    <br>
    <br>
    <p><a href="https://learn.microsoft.com/aspnet/core">¿Problemas al iniciar sesión?</a>.</p>
</div>