@page
@model INVEdb.Pages.mainMenuModel
@{
    ViewData["Title"] = "Menú Principal";
}

<br>
<header class="header">
    <h2 class="left">InveDB</h2>
    <h2 class="right">Cuenta</h2>
</header>

<div class="sideBar" id="sidebar">
    <a href="#">Acceso</a>
    <a href="#">Inventario</a>
    <a href="#">Gestionar</a>
    <a href="#">Gestión de usuarios</a>
</div>

<div class="main">
    <h1>Bienvenido a INVEdb</h1>
    <p></p>
</div>
