@page
@model INVEdb.Pages.mainMenuModel
@{
	ViewData["Title"] = "nmasdnb";
}
<header class="header">
	<h2 class="left">InveDB</h2>
	<h2 class="right">Account</h2>
</header>
<div class="sideBar">
	<a href="#">Acceso</a>
	<a href="#">Inventario</a>
	<a href="#">Gestionar</a>
	<a href="#">Gestión de usuarios</a>
</div>

<div class="main">
</div>
<>
</>
